<ListFilter @filter={{action "filterByCity"}} as |filterResults|>
    <ul class="results">
        {{#each filterResults as |rentalUnit|}}
        <li>
            <RentalListing @rental={{rentalUnit}} />
        </li>
        {{/each}}
    </ul>
</ListFilter>
{{outlet}}