<div class="jumbo">
    <div class="right tomster"></div>
    <h2>About Super Rentals Provider</h2>
    <div style="margin-top: 30px; margin-bottom: 30px;">
        <a href="https://www.freelancer.com/affiliates/email/26668738/">
            <img src="https://cdn6.f-cdn.com/ppic/125245453/logo/26668738/profile_logo_26668738.jpg"
                style="float: left; margin-right: 20px; margin-bottom:10px; width:100px; max-height: 100px; border-radius: 50%; margin-top: 20px; ">
        </a>
        <div style="min-height:40px; padding-left: 30px; ">
            <a style="text-decoration: underline; font-weight: bold; margin-left: 30px; "
                href="https://www.freelancer.com/affiliates/email/26668738/">Vadim Wang</a>
            <p style="margin: 0;margin-bottom: 6px; white-space: nowrap;overflow: hidden; padding-left: 30px; ">Talented Web/Mobile Developer</p>

            <p style="margin: 0;">

                <strong>P:</strong> 1992rrpanda


            </p>

            <p style="margin: 0;"><strong>E:</strong> vadim.wang@hotmail.com</p>

        </div>
    </div>
    {{#link-to "contact" class="button"}}
    Contact Us
    {{/link-to}}
</div>